**/.env.d

# Dependency directory
node_modules
**/node_modules/

#
.env/
**/.env

# Logs
logs
*.log
.DS_Store

npm-debug.log*

# Optional npm cache directory
.npm

#IDEs
.idea

# code testing coverage
coverage


dist/*
**/dist
**/.env.d
**/.env

